html,body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto';
  font-size: 14px;
  width: 100%;
  font-family: 'Acme', sans-serif;
}
.movies-index {
  background: #eeeeee;
  padding: 50px 20px;
  position: relative; /* needed for footer positioning*/
  height: auto !important; /* real browsers */
  min-height: 100%; /* real browsers */
}
.movies-container {
  padding: 20px 50px;
}
.movie-poster {
  height: 175px;
  width: 130px;
  border-radius: 10px;
  cursor: pointer;
}
.discover-header {
  padding-left: 100px;
  font-weight: 500 !important;
  font-family: 'Acme', sans-serif !important;
}
.movie-title {
  font-weight: 500;
  font-size: 12px;
  width: 100%;
  text-align: center;
  word-wrap: break-word;
  color: #000000;
}
.movie-lan {
  font-size: 11px;
  color: #fe1b1b;
  width: 100%;
  text-align: center;
}
.ele-5 {
  max-width: 20%;
}
.movie-container {
  height: auto;
  width: 100%;
  color: #eeeeee;
}
.movie-info {
  background: #eeeeee;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.movie-info-modal {
    background: #000;
    opacity: 0.7;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}
.movie-modal-container {
    padding: 150px;
    color: #fff;
}
.font-white {
    color: #fff !important;
    font-family: 'Acme', sans-serif !important; 
}
.font-34em {
    font-size: 3.4em !important;
}
.movies-desc {
    padding: 50px;
}
.movies-links {
    padding: 40px 80px;
}
.movies-href-back,.movies-href-back:hover,.movies-href-back:active {
    color: #fff;
    text-decoration: none;
    padding: 9px 34px;
    border: 2px #fff solid;
    border-radius: 11px;
}
.movies-href-imdb,.movies-href-imdb:hover,.movies-href-imdb:active {
    color: #fe1b1b;
    text-decoration: none;
    padding: 9px 34px;
    border: 2px #fe1b1b solid;
    border-radius: 11px;
    margin-left: 25px;
}
